header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 99;
}
header .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}
.navbar .logo a{
    font-size: 2rem;
    color: #52B4C1;
    text-decoration: none;
    font-weight: 700;
}
header .navbar .nav-links{
    line-height: 70px;
    height: 100%;
}
header .navbar .links{
    display: flex;
    margin: 0 auto;
    padding: 0;
}
header .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 1rem;
}
header .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}
header .navbar .nav-links .sidebar-logo{
    display: none;
}
header .navbar .bi-list{
    display: none;
}
header .navbar .connect{
    color: #000;
    background: #dcf06b ;
    padding: 1rem 3rem;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: 500;
}
@media (max-width:768px){
    header .navbar{
        padding: 0 30px;
    }
    header .navbar .nav-logo{
        display: flex;
    }
    header .navbar .bi-list{
        display: block;
    }
    header .navbar .connect {   
        padding: 0.5rem 2rem;
    }
    
    
    header .navbar .nav-links{
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 70%;
        height: 100%;
        width: 100%;
        background:  #f9f9f9;
        line-height: 30px;
        padding: 20px;
        transition: all 0.5s ease;
        z-index: 1000;
    }
    header .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
    }
    header .navbar .nav-links .sidebar-logo .logo-name{
        font-size: 2rem;
        color: #52B4C1;
        margin-left: .5rem;
        font-weight: 700;
    }
    header .navbar .nav-links .sidebar-logo i,
    header .navbar .bi-list{
        font-size: 2rem;
        color: #000;
        cursor: pointer;
    }
    header .navbar .links{
        display: block;
        margin-top: 20px;
    }
    header .navbar .links li{
        display: block;
        border-bottom: 1px solid #e0e0e0;
        padding:1.2rem 0;
    }
    header .navbar .create{
        display: block !important;
    }
}
header .navbar .create{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
header .navbar .create .create-icon{
    display: flex;
    align-items: center;
}
header .navbar .create .links{
    padding: 1rem 2rem;
    text-decoration: none;
    color: #000;
    background: #dcf06b ;
    border-radius: 30px;
    text-align: center;
}
header .navbar .create .create-icon .image{
    position: relative;
    margin-right: 1rem;
}
header .navbar .create .create-icon .image .image-icon{
    position: absolute;
    bottom: -5px;
    left: 35px;
}
header .navbar .create .text h6{
    font-weight: 600;
    margin: 0;
}
header .navbar .create .text span{
    color: #ababab;
}


/* pageHeader */
.w-pageHeader {
    text-align: center;
}
.w-pageHeader .content{
    margin-top: 4rem;
}
.w-pageHeader .content h1{
    font-weight: 700;
}
.w-pageHeader .content .content-img{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
}
.w-pageHeader .content .content-img span{
    color: #52B4C1;
    font-weight: 700;
}
.w-pageHeader .content .content-img span::after{ 
    content: '';
    display: block;
    width: 100%;
    border-bottom: 3px solid #52B4C1;  
}
.w-pageHeader .content .content-img strong{
    margin: 0 .5rem;
    font-weight: 500;
}
.w-pageHeader .content .content-img img{
    width: 4rem;
    height: 4rem;
}
.w-pageHeader .content p{
    margin-top: 2rem;
}
.w-pageHeader .avatar{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.w-pageHeader .avatar li{
    list-style: none;
}
.w-pageHeader .avatar li:nth-child(n+1){
    margin-right: -.5rem;
}
.w-pageHeader .avatar li .image,
.w-pageHeader .avatar li .number{
    border-radius: 50%;
}
.w-pageHeader .avatar li .number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #fff;
}


/* road map */
.w-roadMap{
    text-align: center;
    background-color: #141414;
    color: #fff;
    padding: 8rem 0;
    margin-top: -12rem;
}
.w-roadMap .list{
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 4rem;
}
.w-roadMap .list .list-item{
    list-style: none;
    margin: 0 1.5rem;
}
.w-roadMap .list .list-item .list-content{
    margin-top: 2rem;
}
.w-roadMap .list .list-item .icons{
    position: relative;
}
.w-roadMap .list .list-item:not(:last-child) .icons::before{
    position: absolute;
    content: "";
    width : 17rem;
    left: 50%;
    transform: translateY(-50%);
    border: 1px solid #898989;
    z-index: 1;
    top: 50%;
}
.w-roadMap .list .list-item .icons i{
    position: relative;
    z-index: 1;
}
.w-roadMap .list .list-item .list-content h3{
    margin-bottom: 1rem;
}
.w-roadMap p{
    color: #b8b8b8;
    font-weight: 400;
}
@media (max-width:768px){
    .w-roadMap{
        margin-top: -10rem;
        padding-bottom: 3rem;
    }
    .w-roadMap .list{
        display: none;
    }
}




/* test 2 */
/* banner */
.w-accordionBanner{
    background: #f7f7f0;
}
.w-accordionBanner .banner-img{
    position: relative;
    margin: 5rem 0;
}
.w-accordionBanner .banner-img h1{
    font-size: 3.5rem;
    font-weight: 700;
}
.w-accordionBanner .banner-img .image{
    width: 30vw;
    height: 25vw;
    margin: 0 auto;
}
.w-accordionBanner .banner-img .img-blue{
    position: absolute;
    left: 5%;
    top: -25%;
    width: 40vh;
    height: 40vh;
}
.w-accordionBanner .banner-img .img-orange{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 25vh;
    height: 25vh;
}
/* accordion */
.accordion .card{
    border: unset;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.accordion .card .card-header{
    border-bottom: unset;
    background: #f7f7f0;
}
.accordion .card .card-header button {
    text-decoration: none;
    box-shadow: none;
    font-weight: 600;
    color: #000 !important;
    font-size: 1.5rem;
}
.accordion .card .card-header button {
    text-decoration: none;
    box-shadow: none;
}
.accordion .card .card-header button i{
    margin-right: 1rem;
    border-radius: 50%;
    padding: 0 5px;
}
.accordion .card .collapse .card-body{
    position: relative;
    background: #f7f7f0;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    transition: all .6s;
}
.image-accord{}
/* hover accordion */
.accordion .card .card-header:hover{
    background: #fcfcf9;
}
.accordion .card .card-header button .bi-chevron-down{
    display: none;
}
/* click accordion */
.accordion .card .card-header button.collapsed .bi-1-circle{
    display: inline-block ;
}
.accordion .card .card-header button .bi-1-circle{
    display: none;
}
.accordion .card .card-header button.collapsed .bi-x{
    display: none;
}
.accordion .card .card-header button.collapse .bi-x{
    display: inline-block;
}
.accordion .card .card-header button .bi-x,
.accordion .card .card-header button .bi-chevron-down{
    background: #9f73e6;
    color: #fff;
}


